n8n/workflows/Bosses Akvariefiskar — Chatwoot → Flowise → svar tillbaka.json
{
  "name": "Bosses Akvariefiskar — Chatwoot → Flowise → svar tillbaka",
  "nodes": [
    {
      "parameters": {
        "content": "## Chatwoot i Bosses-kedjan\n\n1. I Chatwoot: Settings → Integrations → Webhooks och lägg till URL `http://n8n:5678/webhook/chatwoot`.\n2. Sätt `CHATWOOT_API_ACCESS_TOKEN` i `docker-compose.yml` för n8n.\n3. Flödet svarar bara på inkommande kundmeddelanden (`message_type: 0`) så botsvar inte loopar.\n\nAnvänd helst ett dedikerat chatflow via `FLOWISE_CHATWOOT_CHATFLOW_ID` så support-chatten får annat tonfall än lead-flödet.",
        "height": 320,
        "width": 420,
        "color": 6
      },
      "id": "6c1bccbc-b6bb-46d3-80e8-f5841022919b",
      "name": "Anteckning: Chatwoot",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -224
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a6ed009b-0c7e-4c17-a84a-2ec346ca7fd1",
      "name": "Webhook: Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -48,
        128
      ],
      "webhookId": "chatwoot-inbound-demo"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Chatwoot webhook: bara inkommande kundmeddelanden (message_type 0).\n * Undvik loop: vårt utgående svar har message_type 1 → ignoreras här.\n */\nconst root = items[0].json;\nconst body = root.body !== undefined ? root.body : root;\nconst msg = body.message || body;\nconst conv = body.conversation || {};\nconst acc = body.account || {};\n\nconst accountId = acc.id ?? body.account_id;\nconst conversationId = conv.id ?? body.conversation_id;\nconst messageType = msg.message_type;\nconst content = String(msg.content ?? msg.text ?? '').trim();\n\nconst isIncoming = messageType === 0 || messageType === 'incoming';\n\nif (!isIncoming) {\n  return [{ json: { skip: true, reason: 'not_incoming_or_bot_reply', accountId, conversationId } }];\n}\nif (!content) {\n  return [{ json: { skip: true, reason: 'empty_content', accountId, conversationId } }];\n}\nif (accountId == null || conversationId == null) {\n  return [{ json: { skip: true, reason: 'missing_ids', accountId, conversationId } }];\n}\n\nreturn [{ json: { skip: false, message: content, accountId, conversationId } }];"
      },
      "id": "83911739-48db-421a-b1d9-d81363add248",
      "name": "Tolka Chatwoot (guard)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "547e30ec-84cd-4432-93c2-c309b23b8a6f",
      "name": "Ska svara?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        464,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: true, reason: $json.reason || 'skip' }) }}",
        "options": {}
      },
      "id": "c8f9b479-c0e6-4608-abe0-fa9a4603214e",
      "name": "Svara: ignorerad",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        704,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://flowise:3000/api/v1/prediction/{{$env.FLOWISE_CHATWOOT_CHATFLOW_ID || $env.FLOWISE_SUPPORT_CHATFLOW_ID || $env.FLOWISE_CHATFLOW_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $('Tolka Chatwoot (guard)').first().json.message }) }}",
        "options": {}
      },
      "id": "7312ebdd-14a8-469a-acad-4592f7831152",
      "name": "AI (Flowise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        176
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const q = $('Tolka Chatwoot (guard)').first().json.message || '';\nconst flow = items[0].json;\nconst hadHttpError = Boolean(flow.error);\nconst raw = hadHttpError ? '' : String(flow.text ?? flow.data?.text ?? flow.output ?? '');\nconst cleaned = raw.trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\nlet parsed = null;\ntry {\n  parsed = cleaned ? JSON.parse(cleaned) : null;\n} catch {}\nconst lower = String(q).toLowerCase();\nconst fallbackCategory = /tidsmaskin|paradox/.test(lower)\n  ? 'time_machine_issue'\n  : /fortfarande d[oö]d|r[oö]r sig inte|[aå]teruppliv/.test(lower)\n    ? 'resurrection_support'\n    : /leverans|frakt|saknas|fel/.test(lower)\n      ? 'shipping_or_subscription'\n      : 'general_question';\nconst reply = parsed?.reply || raw || 'Tyvärr kunde jag inte generera svar just nu. Kontrollera Flowise eller OpenAI.';\nconst escalate = typeof parsed?.escalate === 'boolean' ? parsed.escalate : hadHttpError || reply.length < 18;\nconst category = parsed?.category || fallbackCategory;\nconst reason = parsed?.reason || (escalate ? 'Borde troligen granskas av människa.' : 'Kan hanteras i chatten.');\nconst accountId = $('Tolka Chatwoot (guard)').first().json.accountId;\nconst conversationId = $('Tolka Chatwoot (guard)').first().json.conversationId;\nitems[0].json = { reply, escalate, category, reason, accountId, conversationId };\nreturn items;"
      },
      "id": "4cea8c26-ee68-4918-96e5-663ab6d07206",
      "name": "Svar + escalate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "tok",
              "leftValue": "={{ $env.CHATWOOT_API_ACCESS_TOKEN }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e8daa256-3417-482a-91fe-ef5acdb46094",
      "name": "Token satt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1168,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CHATWOOT_API_BASE }}/api/v1/accounts/{{ $json.accountId }}/conversations/{{ $json.conversationId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_API_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.reply, message_type: 'outgoing' }) }}",
        "options": {}
      },
      "id": "556af923-6d3e-4459-9fd7-c77475faa480",
      "name": "Skicka svar till Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: false, category: $('Svar + escalate').first().json.category, escalate: $('Svar + escalate').first().json.escalate, chatwootPosted: false, note: 'Sätt CHATWOOT_API_ACCESS_TOKEN för n8n i docker-compose så postas svaret till Chatwoot.' }) }}",
        "options": {}
      },
      "id": "d625db5d-459b-4982-9ddc-7df44b2a25f5",
      "name": "Svara: utan Chatwoot-POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1408,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: false, category: $('Svar + escalate').first().json.category, escalate: $('Svar + escalate').first().json.escalate, chatwootPosted: $('Skicka svar till Chatwoot').first().json.error == null }) }}",
        "options": {}
      },
      "id": "c26f3abd-b8e2-4899-b138-1f150a52c4a2",
      "name": "Svara: klart",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1648,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Chatwoot": {
      "main": [
        [
          {
            "node": "Tolka Chatwoot (guard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tolka Chatwoot (guard)": {
      "main": [
        [
          {
            "node": "Ska svara?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ska svara?": {
      "main": [
        [
          {
            "node": "AI (Flowise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Svara: ignorerad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Flowise)": {
      "main": [
        [
          {
            "node": "Svar + escalate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Svar + escalate": {
      "main": [
        [
          {
            "node": "Token satt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token satt?": {
      "main": [
        [
          {
            "node": "Skicka svar till Chatwoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Svara: utan Chatwoot-POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skicka svar till Chatwoot": {
      "main": [
        [
          {
            "node": "Svara: klart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fe1840ce-27ac-4942-bbd0-2d1273088aa2",
  "meta": {
    "instanceId": "d5d71a81dbf2b9339542f9bc22be2f1f02156784e9ef777a0752265fc23cd1b5"
  },
  "id": "7S0xwIic1zgDdXni",
  "tags": []
}