n8n/workflows/chatwoot.json
{
  "name": "Bosses Akvariefiskar — Chatwoot → Flowise → svar tillbaka",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "parameters": {
        "content": "## Chatwoot i Bosses-kedjan\n\n1. I Chatwoot: Settings → Integrations → Webhooks och lägg till URL `http://n8n:5678/webhook/chatwoot`.\n2. Sätt `CHATWOOT_API_ACCESS_TOKEN` i `docker-compose.yml` för n8n.\n3. Flödet svarar bara på inkommande kundmeddelanden (`message_type: 0`) så botsvar inte loopar.\n\nAnvänd helst ett dedikerat chatflow via `FLOWISE_CHATWOOT_CHATFLOW_ID` så support-chatten får annat tonfall än lead-flödet.",
        "height": 320,
        "width": 420,
        "color": 6
      },
      "id": "sticky-chatwoot",
      "name": "Anteckning: Chatwoot",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, 80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chatwoot",
      "name": "Webhook: Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 420],
      "webhookId": "chatwoot-inbound-demo"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Chatwoot webhook: bara inkommande kundmeddelanden (message_type 0).\n * Undvik loop: vårt utgående svar har message_type 1 → ignoreras här.\n */\nconst root = items[0].json;\nconst body = root.body !== undefined ? root.body : root;\nconst msg = body.message || body;\nconst conv = body.conversation || {};\nconst acc = body.account || {};\n\nconst accountId = acc.id ?? body.account_id;\nconst conversationId = conv.id ?? body.conversation_id;\nconst messageType = msg.message_type;\nconst content = String(msg.content ?? msg.text ?? '').trim();\n\nconst isIncoming = messageType === 0 || messageType === 'incoming';\n\nif (!isIncoming) {\n  return [{ json: { skip: true, reason: 'not_incoming_or_bot_reply', accountId, conversationId } }];\n}\nif (!content) {\n  return [{ json: { skip: true, reason: 'empty_content', accountId, conversationId } }];\n}\nif (accountId == null || conversationId == null) {\n  return [{ json: { skip: true, reason: 'missing_ids', accountId, conversationId } }];\n}\n\nreturn [{ json: { skip: false, message: content, accountId, conversationId } }];"
      },
      "id": "code-parse-chatwoot",
      "name": "Tolka Chatwoot (guard)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-process",
      "name": "Ska svara?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: true, reason: $json.reason || 'skip' }) }}",
        "options": {}
      },
      "id": "respond-skip",
      "name": "Svara: ignorerad",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://flowise:3000/api/v1/prediction/{{$env.FLOWISE_CHATWOOT_CHATFLOW_ID || $env.FLOWISE_SUPPORT_CHATFLOW_ID || $env.FLOWISE_CHATFLOW_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $('Tolka Chatwoot (guard)').first().json.message }) }}",
        "options": {}
      },
      "id": "http-flowise-cw",
      "name": "AI (Flowise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const q = $('Tolka Chatwoot (guard)').first().json.message || '';\nconst flow = items[0].json;\nconst hadHttpError = Boolean(flow.error);\nconst raw = hadHttpError ? '' : String(flow.text ?? flow.data?.text ?? flow.output ?? '');\nconst cleaned = raw.trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\nlet parsed = null;\ntry {\n  parsed = cleaned ? JSON.parse(cleaned) : null;\n} catch {}\nconst lower = String(q).toLowerCase();\nconst fallbackCategory = /tidsmaskin|paradox/.test(lower)\n  ? 'time_machine_issue'\n  : /fortfarande d[oö]d|r[oö]r sig inte|[aå]teruppliv/.test(lower)\n    ? 'resurrection_support'\n    : /leverans|frakt|saknas|fel/.test(lower)\n      ? 'shipping_or_subscription'\n      : 'general_question';\nconst reply = parsed?.reply || raw || 'Tyvärr kunde jag inte generera svar just nu. Kontrollera Flowise eller OpenAI.';\nconst escalate = typeof parsed?.escalate === 'boolean' ? parsed.escalate : hadHttpError || reply.length < 18;\nconst category = parsed?.category || fallbackCategory;\nconst reason = parsed?.reason || (escalate ? 'Borde troligen granskas av människa.' : 'Kan hanteras i chatten.');\nconst accountId = $('Tolka Chatwoot (guard)').first().json.accountId;\nconst conversationId = $('Tolka Chatwoot (guard)').first().json.conversationId;\nitems[0].json = { reply, escalate, category, reason, accountId, conversationId };\nreturn items;"
      },
      "id": "code-reply-cw",
      "name": "Svar + escalate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 480]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "tok",
              "leftValue": "={{ $env.CHATWOOT_API_ACCESS_TOKEN }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-token",
      "name": "Token satt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CHATWOOT_API_BASE }}/api/v1/accounts/{{ $json.accountId }}/conversations/{{ $json.conversationId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "={{ $env.CHATWOOT_API_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.reply, message_type: 'outgoing' }) }}",
        "options": {}
      },
      "id": "http-chatwoot-reply",
      "name": "Skicka svar till Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: false, category: $('Svar + escalate').first().json.category, escalate: $('Svar + escalate').first().json.escalate, chatwootPosted: false, note: 'Sätt CHATWOOT_API_ACCESS_TOKEN för n8n i docker-compose så postas svaret till Chatwoot.' }) }}",
        "options": {}
      },
      "id": "respond-no-token",
      "name": "Svara: utan Chatwoot-POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: false, category: $('Svar + escalate').first().json.category, escalate: $('Svar + escalate').first().json.escalate, chatwootPosted: $('Skicka svar till Chatwoot').first().json.error == null }) }}",
        "options": {}
      },
      "id": "respond-done",
      "name": "Svara: klart",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 380]
    }
  ],
  "connections": {
    "Webhook: Chatwoot": {
      "main": [[{ "node": "Tolka Chatwoot (guard)", "type": "main", "index": 0 }]]
    },
    "Tolka Chatwoot (guard)": {
      "main": [[{ "node": "Ska svara?", "type": "main", "index": 0 }]]
    },
    "Ska svara?": {
      "main": [
        [{ "node": "AI (Flowise)", "type": "main", "index": 0 }],
        [{ "node": "Svara: ignorerad", "type": "main", "index": 0 }]
      ]
    },
    "AI (Flowise)": {
      "main": [[{ "node": "Svar + escalate", "type": "main", "index": 0 }]]
    },
    "Svar + escalate": {
      "main": [[{ "node": "Token satt?", "type": "main", "index": 0 }]]
    },
    "Token satt?": {
      "main": [
        [{ "node": "Skicka svar till Chatwoot", "type": "main", "index": 0 }],
        [{ "node": "Svara: utan Chatwoot-POST", "type": "main", "index": 0 }]
      ]
    },
    "Skicka svar till Chatwoot": {
      "main": [[{ "node": "Svara: klart", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": []
}
