n8n/workflows/lead.json
{
  "name": "Bosses Akvariefiskar — Lead Capture Flow",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "parameters": {
        "content": "## Bosses lead-flöde\n\nDetta flöde tar emot absurda leadförfrågningar för Bosses Akvariefiskar och skickar dem till ett dedikerat Flowise-chatflow för leadkvalificering.\n\nAktivera noden **OpenAI fallback** och koppla in **OpenAI API credentials** om du vill ha riktig fallback när Flowise saknar svar.",
        "height": 220,
        "width": 380,
        "color": 5
      },
      "id": "sticky-openai",
      "name": "Anteckning: OpenAI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1040, 380]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lead",
      "name": "Webhook: lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "lead-capture-demo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize",
      "name": "Normalisera inmatning",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://flowise:3000/api/v1/prediction/{{$env.FLOWISE_LEAD_CHATFLOW_ID || $env.FLOWISE_CHATFLOW_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $json.message }) }}",
        "options": {}
      },
      "id": "http-flowise",
      "name": "AI enrichment (Flowise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "continueOnFail": true,
      "notesInFlow": true,
      "notes": "Skickar användarens meddelande till Flowise prediction API. Använder helst FLOWISE_LEAD_CHATFLOW_ID och faller tillbaka till FLOWISE_CHATFLOW_ID."
    },
    {
      "parameters": {
        "jsCode": "const n = $('Normalisera inmatning').first().json;\nconst flow = items[0].json;\nconst raw = String(flow.text ?? flow.data?.text ?? flow.output ?? '');\nconst cleaned = raw.trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\nlet parsed = null;\ntry {\n  parsed = cleaned ? JSON.parse(cleaned) : null;\n} catch {}\nconst msg = String(n.message || '');\nconst lower = msg.toLowerCase();\nconst fallbackLeadType = /reportage|press|pr|influencer|partner|white label/.test(lower)\n  ? 'press_or_partnership'\n  : /fortfarande d[oö]d|r[oö]r sig inte|reklam|fel fisk|skadad/.test(lower)\n    ? 'complaint_reroute'\n    : /tidsmaskin/.test(lower)\n      ? 'time_machine_interest'\n      : /[aå]teruppliv|addon|till[aä]gg|upsell/.test(lower)\n        ? 'addon_question'\n        : /offert|volym|24|12|hotell|reception|kontor|butik|presentbox|avdelning/.test(lower)\n          ? 'bulk_order'\n          : 'unclear';\nconst fallbackCustomerType = /vi driver|vi (?:är|ar)|hotell|kontor|butik|team|avdelning|presentbox|upplevelsecenter|partner/.test(lower)\n  ? 'B2B'\n  : /^hej! jag|^hej jag|\\bjag\\b/.test(lower)\n    ? 'Privatkund'\n    : 'Oklart';\nconst fallbackProduct = /tidsmaskin/.test(lower)\n  ? 'Tidsmaskin Experience Pack'\n  : /[aå]teruppliv/.test(lower)\n    ? 'Återupplivning Plus'\n    : /m[aå]nadens|abonn/.test(lower)\n      ? 'Månadens Mystiskt Orörliga Fisk'\n      : 'Zombie Guppy Deluxe';\nconst fallbackPriority = /fortfarande d[oö]d|press|reportage|partner/.test(lower)\n  ? 'high'\n  : /volym|offert|hotell|kontor|upplevelsecenter/.test(lower)\n    ? 'medium'\n    : 'low';\nitems[0].json = {\n  name: n.name,\n  email: n.email,\n  message: n.message,\n  aiRaw: raw,\n  aiSummary: String(parsed?.salesSummary || raw || ''),\n  leadType: parsed?.leadType || fallbackLeadType,\n  customerType: parsed?.customerType || fallbackCustomerType,\n  productSuggestion: parsed?.productSuggestion || fallbackProduct,\n  priority: parsed?.priority || fallbackPriority,\n  routeTo: parsed?.routeTo || (fallbackLeadType === 'complaint_reroute' ? 'support' : 'sales'),\n  funAngle: parsed?.funAngle || 'Bosses absurda affärsmodell gör leadet minnesvärt.',\n  flowiseOk: Boolean(raw),\n};\nreturn items;"
      },
      "id": "code-build-context",
      "name": "Bygg kontext + AI-svar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {},
      "id": "openai-fallback",
      "name": "OpenAI fallback (valfri)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [960, 520],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const full = String(items[0].json.name || '').trim();\nconst parts = full.split(/\\s+/).filter(Boolean);\nconst firstName = parts[0] || 'Okänd';\nconst lastName = parts.length > 1 ? parts.slice(1).join(' ') : '-';\nitems[0].json.firstName = firstName;\nitems[0].json.lastName = lastName;\nreturn items;"
      },
      "id": "code-classify",
      "name": "Klassificera intent (lead/support)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TWENTY_API_BASE}}/rest/people",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: { firstName: $json.firstName, lastName: $json.lastName }, emails: { primaryEmail: $json.email } }) }}",
        "options": {}
      },
      "id": "http-person",
      "name": "Send to CRM — skapa person",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "notesInFlow": true,
      "notes": "Twenty REST kan variera mellan versioner. Justera payload i README/playground om detta felar."
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Klassificera intent (lead/support)').first().json;\nconst r = items[0].json;\nconst id = r.id || r.data?.id || r.record?.id || r.records?.[0]?.id;\nif (!id) {\n  throw new Error('Kunde inte läsa person-id från Twenty. Kontrollera TWENTY_API_KEY och REST-schema. Svar: ' + JSON.stringify(r).slice(0, 500));\n}\nitems[0].json = {\n  ...prev,\n  personId: id,\n};\nreturn items;"
      },
      "id": "code-person-id",
      "name": "Läs ut personId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TWENTY_API_BASE}}/rest/opportunities",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: 'Bosses: ' + $json.leadType + ' / ' + $json.productSuggestion + ' (' + $json.email + ')', stage: 'NEW', pointOfContactId: $json.personId }) }}",
        "options": {}
      },
      "id": "http-opportunity",
      "name": "Send to CRM — skapa affär",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300],
      "notesInFlow": true,
      "notes": "Skapar en enkel Opportunity kopplad till personen. Fält som stage kan behöva justeras mot er Twenty-workspace."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'processed', leadType: $('Läs ut personId').first().json.leadType, customerType: $('Läs ut personId').first().json.customerType, productSuggestion: $('Läs ut personId').first().json.productSuggestion, priority: $('Läs ut personId').first().json.priority, routeTo: $('Läs ut personId').first().json.routeTo, aiSummary: $('Läs ut personId').first().json.aiSummary, personId: $('Läs ut personId').first().json.personId }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Svara webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 300]
    }
  ],
  "connections": {
    "Webhook: lead": {
      "main": [[{ "node": "Normalisera inmatning", "type": "main", "index": 0 }]]
    },
    "Normalisera inmatning": {
      "main": [[{ "node": "AI enrichment (Flowise)", "type": "main", "index": 0 }]]
    },
    "AI enrichment (Flowise)": {
      "main": [[{ "node": "Bygg kontext + AI-svar", "type": "main", "index": 0 }]]
    },
    "Bygg kontext + AI-svar": {
      "main": [[{ "node": "Klassificera intent (lead/support)", "type": "main", "index": 0 }]]
    },
    "Klassificera intent (lead/support)": {
      "main": [[{ "node": "Send to CRM — skapa person", "type": "main", "index": 0 }]]
    },
    "Send to CRM — skapa person": {
      "main": [[{ "node": "Läs ut personId", "type": "main", "index": 0 }]]
    },
    "Läs ut personId": {
      "main": [[{ "node": "Send to CRM — skapa affär", "type": "main", "index": 0 }]]
    },
    "Send to CRM — skapa affär": {
      "main": [[{ "node": "Svara webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": []
}
